<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{login.title}">Logga in – Tornedalen</title>

    <link rel="stylesheet" href="../css/login.css">
</head>
<body>

<!-- Wrapper to centralize content -->
<div class="login-container">

    <!-- Tornedalen Konsthall Logo -->
    <img src="../images/logo.png" alt="Tornedalen logo" class="logo">

    <!-- Form to Login -->
    <form class="login-form" method="post" action="/login">
        <input type="text" name="username" placeholder="Email" required>
        <input type="password" name="password" th:placeholder="#{password}" required>
        <button type="submit" th:text="#{login.button}">Logga in</button>
    </form>

    <!-- Link to Registration -->
    <div class="bottom-text">
        <span th:text="#{login.createAccount}">Har du inget konto?</span><br>
        <a href="/" class="register-link" th:text="#{login.registerLink}">Skapa konto här!</a>
    </div>

    <!-- Språkval -->
    <div th:replace="~{fragments/language-selector :: languageSelector}"></div>
</div>

</body>
</html>
