<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Konsthall Tornedalen</title>
    <link rel="stylesheet" href="../css/mypages.css">
</head>

<body>

<!-- Bakgrundsöverlägg -->
<div class="background-overlay"></div>

<!-- LOGOTYP -->
<header class="header-logo">
    <a href="/home">
        <img src="../images/logo.png" alt="Konsthall Tornedalen Logotyp" class="logo">
    </a>
</header>

<!-- MENY MED KNAPPAR -->
<nav class="menu">
    <a href="/exhibitions" class="menu-button" th:text="#{home.exhibitions}">Utställningar</a>
    <a href="/forum" class="menu-button" th:text="#{home.forum}">Forum</a>
    <a href="/mypages" class="menu-button" th:text="#{home.myPages}">Mina sidor</a>
    <a href="/login" class="menu-button logout-button" th:text="#{signOut}">Logga ut</a>
</nav>


</body>
</html>