<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Skapa ny tråd</title>
        <link rel="stylesheet" href="../css/forum.css">
    </head>
    <body>

    <div class="background-overlay"></div>

        <header class="header-logo">
            <a href="/home"><img src="../images/logo.png" alt="Logo" class="logo"></a>
        </header>

        <div th:replace="~{fragments/menu-buttons :: menuButtons}"></div>

        <main class="forum-container">
            <h1>Skapa ny tråd</h1>

            <form method="post" action="/forum/new">
                <label for="title">Titel:</label>
                <input type="text" name="title" id="title" required>

                <label for="content">Beskrivning av Tråden:</label>
                <textarea name="content" id="content" required></textarea>

                <label for="exhibitionID">Utställning:</label>
                <select name="exhibitionID" id="exhibitionID" required>
                    <option value="" disabled selected>Välj en utställning</option>
                    <option th:each="exhibition : ${exhibitions}"
                            th:value="${exhibition.exhibitionID}"
                            th:text="${exhibition.name}">
                    </option>
                </select>

                <button type="submit">Publicera</button>
            </form>
        </main>

    </body>
</html>
