<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:text="${thread.title}">Tråd</title>
        <link rel="stylesheet" href="../css/thread.css">
    </head>
    <body>

        <div class="background-overlay"></div>

        <header class="header-logo">
            <a href="/home">
                <img src="../images/logo.png" alt="Konsthall Tornedalen Logotyp" class="logo">
            </a>
        </header>

        <div th:replace="~{fragments/menu-buttons :: menuButtons}"></div>

        <main class="thread-container" th:attr="data-thread-id=${thread.threadID}">
            <div id="exhibition-info" style="float: right; width: 250px; margin-left: 20px;"></div>
            <p><strong><span th:text="#{forum.createdBy}"></span>:</strong>
                <span th:text="${thread.userFirstName + ' ' + thread.userLastName}"></span>
            </p>
            <h1 th:text="${thread.title}">Trådtitel</h1>
            <p>
                <strong><span th:text="#{forum.exhibition}"></span>:</strong>
                <span th:text="${thread.exhibitionName}"></span>
            </p>
              
            <p>
                <strong><span th:text="#{forum.dateTime}"></span>:</strong>
                <span th:text="${#temporals.format(thread.createdAt, 'yyyy-MM-dd HH:mm')}">Datum</span>
            </p>

            <p th:text="${thread.content}">Innehållet i tråden...</p>

            <section class="comment-list">
                <h2 th:text="#{thread.comments}">Kommentarer</h2>
                <div th:if="${#lists.isEmpty(comments)}">
                    <p th:text="#{thread.noComment}">Inga kommentarer än.</p>
                </div>
                <div th:each="comment : ${comments}" class="comment">
                    <p><strong th:text="${comment.userName}">Användare</strong> skrev:</p>
                    <p th:text="${comment.comment}">Kommentarens innehåll...</p>
                    <small th:text="${#temporals.format(comment.createdAt, 'yyyy-MM-dd HH:mm')}">Tid</small>
                    <hr>
                </div>
            </section>

            <section class="comment-section">
                <h2 th:text="#{thread.makeComment}">Kommentera</h2>
                <form method="post" th:action="@{'/forum/' + ${thread.threadID} + '/comment'}">
                    <textarea name="comment" th:placeholder="#{thread.commentPlaceholder}" required></textarea>
                    <button type="submit" th:text="#{forum.postThread}">Skicka</button>
                </form>
            </section>
        </main>
        <script src="/scripts/thread.js"></script>
    </body>
</html>
